# Ambiente Virtual
.venv/
venv/
env/

# Python (arquivos temporários)
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Dados (Opcional - se o CSV for muito grande ou privado)
# *.csv

# Sistema
.DS_Store
Thumbs.db

# Arquivos do curso
materiais_aula/
notebooks/
data/